<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lakas kereso</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stilus.css">
</head>
<body>
    <div id="keret">
        <h1>Otthon, édes otthon</h1>
        <h2>HIBA!</h2>
        <p class="hiba"><%= hiba %></p>
        <form id="gombForm" action="/ujratoltes" method="get">
        <button type="submit">Vissza a főoldalra</button>
    </form>
    </div>

    <footer>
        <p>© 2025 Ingatlanpont. Minden jog fenntartva.</p>
        <p>Készítette: Szász István</p>
        <p>Feladat - Lab5 - Full Stack Web Application</p>
    </footer>
</body>
</html>